*.py[co]
*.sw[po]
*.secrets
*~
.tox
build
MANIFEST
/.ropeproject/config.py
/.coverage
coverage_html_report/
.idea
dist/*plumbery*
docs/apidocs/*
_build/
htmlcov/
plumbery.egg-info/
.project
.pydevproject
.settings
.DS_Store
.eggs/