include AUTHORS.rst
include CONTRIBUTING.rst
include demos/*
recursive-include docs *.rst conf.py Makefile make.bat
include HISTORY.rst
include LICENSE
include Makefile
include MANIFEST.in
include plumbery/polishers/*
include README.md
include README.rst
include requirements_dev.txt
include setup.cfg
include setup.py
include tests/*
include tox.ini
include travis_pypi_setup.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * test_*.yaml
recursive-exclude * .DS_Store

